html {
  font-size: 62.5%;
}
html .container {
  width: 100%;
  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
}
html .container header nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-bottom: 10px;
}
@media (max-width: 800px) {
  html .container header nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
}
html .container header nav a {
  text-decoration: none;
  color: #252C2E;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
html .container header nav a:hover {
  border-bottom: 2px solid #252C2E;
}
@media (max-width: 800px) {
  html .container header nav a {
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  html .container header nav a:hover {
    background-color: #252C2E;
    color: #EDE8CE;
    border-bottom: none;
  }
}
html .container main {
  background-image: url("images/greyscale-niagara.jpg");
  border-radius: 24px;
  height: 68rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #252C2E;
}
@media (max-width: 800px) {
  html .container main {
    height: 60rem;
  }
}
html .container main h1 {
  font-family: 'Droid Serif', Georgia, Times, serif;
  font-size: 6rem;
}
@media (max-width: 500px) {
  html .container main h1 {
    font-size: 3.6rem;
    text-align: center;
  }
}
html .container main h2 {
  font-size: 1.8rem;
  opacity: 0.6;
  text-align: center;
  margin: 0;
}
@media (max-width: 800px) {
  html .container main h2 {
    padding-bottom: 30px;
  }
}
html .container footer nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
