@mobile: ~"(max-width: 500px)"; 
@tablet: ~"(max-width: 800px)";

.nav-class() {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
  margin-bottom: 10px;
  
  @media @tablet {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
}

.a-class() {
  text-decoration: none;
  color: #252C2E;
  font-size: 1.5rem;
  margin-bottom: 10px;
  
  &:hover {
    border-bottom: 2px solid #252C2E;
  }
}

html {
  font-size: 62.5%;
  
  .container {
    width: 100%;
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    

    header {


      nav {
        .nav-class();
        
        a {
          .a-class();
                    
          @media @tablet {
            padding: 10px;
            width: 100%;
            text-align: center;
            
            &:hover {
              background-color: #252C2E;
              color: #EDE8CE;
              border-bottom: none;
            }
          }
        }
      }
    }
    main {
      background: url(images/greyscale-niagara.jpg) no-repeat center center fixed; 
      // -webkit-background-size: cover;
      // -moz-background-size: cover;
      // -o-background-size: cover;
      // background-size: cover;
      border-radius: 24px;
      height: 68rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #252C2E;
      
      @media @tablet {
        height: 60rem;
      }

      h1 {
        font-family: 'Droid Serif', Georgia, Times, serif;
        font-size: 6rem;
        
        @media @mobile {
          font-size: 3.6rem;
          text-align: center;
        }
      }
      h2 {
        font-size: 1.8rem;
        opacity: 0.6;
        text-align: center;
        margin: 0;
        
        @media @tablet {
          padding-bottom: 30px;
        }
      }
    }
    footer {

      nav {
        .nav-class();
        width: 100%;
        
        a {
          .a-class();
          
      }
    }
  }
}
}
